@inherits BalloonBase
@using Store.Messages
@using esme.Shared.Circles

<div class="@(IsMine ? "my-balloon" : "their-balloon")">
    <div class="text-left balloon-text">
        <small>
            On @Message.SentAt.ToString("g") @(IsMine ? "I" : Message.SenderName) said:
        </small>
    </div>
    @if (Message.ContentType == ContentType.Text)
    {
    <TextMessage Text="@Message.Content" />
    }
    @if (Message.ContentType == ContentType.Voice)
    {
    <VoiceMessage RecordingUrl="@Message.Content" />
    }
</div>
