@inherits BalloonBase
@using esme.Shared.Circles

<div class="balloon @(IsMine ? "my-balloon" : "their-balloon")">
    <div class="text-left balloon-text">
        <small>
            <span class="text-left">@(IsMine ? "Me" : Message.SenderName)</span>
            <span class="float-right" style="padding-right:10px">@Message.SentAt.LocalDateTime.ToShortTimeString()</span>
        </small>
    </div>
    @if (Message.ContentType == ContentType.Text)
    {
    <TextMessage Text="@Message.Content" />
    }
    @if (Message.ContentType == ContentType.Voice)
    {
    <VoiceMessage RecordingUrl="@Message.Content" />
    }
</div>
