@page "/circle/{Id:int}"
@inherits CircleBase

@if (MessagesState.Value.ErrorMessage != null)
{
    <h1>Error</h1>
    <p>@MessagesState.Value.ErrorMessage</p>
}

@if (MessagesState.Value.IsLoading)
{
    <p>Loading...</p>
}

@if (MessagesState.Value.Messages != null)
{
    @foreach (var message in MessagesState.Value.Messages)
    {
        <div>
            <p>
                On @message.SentAt.ToString("g") @message.SenderName said:<br />
                @message.Text
            </p>
        </div>
    }
    <form onsubmit="@OnSubmit">
        <textarea required autofocus bind="@NewMessage.Text"></textarea> @*FIXME: da, specify maxlength*@
        <div class="col-sm-4 offset-sm-4 mb-2">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
        </div>
    </form>
}

