@page "/circle/{CircleId:int}"
@inherits CircleBase
@using Store.Messages
@using esme.Shared.Circles

@if (MessagesState.Value.ErrorMessage != null)
{
    <h1>Error</h1>
    <p>@MessagesState.Value.ErrorMessage</p>
}

@if (MessagesState.Value.State == State.IsLoading)
{
    <p>Loading...</p>
}

@if (MessagesState.Value.Messages != null)
{
    @foreach (var item in MessagesWithDateLabels())
    {
        var dateLabel = item as string;
        if (dateLabel != null)
        {
            <div>@dateLabel</div>
        }

        var message = item as MessageViewModel;
        if (message != null)
        {
            <Balloon Message="@message" />
        }
    }
    <form onsubmit="@OnSubmit">
        @if (MessagesState.Value.State == State.Default)
        {
            <textarea required autofocus @bind="NewMessage.Text" rows="3" style="width: 100%" class="circle-form-item"></textarea> @*FIXME: da, specify maxlength*@
        }
        <div>
            @if (MessagesState.Value.State == State.RecordingAvailable)
            {
                <audio src="@MessagesState.Value.RecordingUrl" type="audio/mpeg" controls class="circle-form-button" />
            }
            else if (MessagesState.Value.State == State.Default)
            {
                <button class="btn btn-lg btn-secondary btn-block circle-form-button" @onclick="@StartRecording">
                    Record
                </button>
            }
            else if (MessagesState.Value.State == State.IsRecording)
            {
                <button class="btn btn-lg btn-secondary btn-block circle-form-button" @onclick="@StopRecording">
                    @RecordingTime
                </button>
            }
        </div>
        <div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
        </div>
    </form>
}

