@page "/invitations"
@inherits InvitationsBase

@if (InvitationsState.Value.IsLoading)
{
    <p>Loading...</p>
}

@foreach (var invitation in InvitationsState.Value.Invitations)
{
    <div>
        <div>@invitation.To</div>
        <div>@invitation.SentAt</div>
    </div>
}

@if (InvitationsState.Value.ErrorMessage != null)
{
    <h1>Error</h1>
    <p>@InvitationsState.Value.ErrorMessage</p>
}

<footer class="fixed-bottom">
    <div class="@Classes.MainContainer">
        @if (InvitationsState.Value.IsLoadedWithoutErrors)
        {
            <EditForm Model="@NewInvitation" OnValidSubmit="@OnSubmit">
                <DataAnnotationsValidator />
                <div class="form-item">
                    <InputText placeholder="email@address" autofocus @bind-Value="NewInvitation.To" class="form-control" />
                    <ValidationMessage For="@(() => NewInvitation.To)" />
                </div>
                <div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Send Invitation</button>
                </div>
            </EditForm>
        }
    </div>
</footer>